body{
    background: #eeedec;
    letter-spacing: 0.2em;
    font-size: 0.8em;
}

.container{
    max-width: 400px;
}

.icon{
    position: relative;
    top: -30px;
    border-radius: 50%;
    width: 60px;
    margin-bottom: -30px;

}
