body{
    /* background: #eeedec; */
    background: linear-gradient(rgb(47,150,163),rgb(48,62,143));
    letter-spacing: 0.2em;
    font-size: 0.8em;
    color: #eeedec;
    
    
}

.container{
    max-width: 400px;
    
}

.icon{
    position: relative;
    top: -30px;
    border-radius: 50%;
    width: 60px;
    margin-bottom: -30px;

}
